<div class="slider-area">
  <app-other-menu></app-other-menu>
  <div class="banner-area all-text-white text-center" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">طلبات التبرع</h1>
                <ul class="fund-breadcumb">
                    <li><a routerLink="/home">الرئيسية</a> </li>
                    <li><a routerLink="/request">طلبات التبرع</a> </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">  
              <strong>مجموع التبرعات المعتمدة حتى الان: {{totals}} ر.س</strong>
              <a *ngIf="showButton" routerLink="/new-service" style="float: left; color: #fc8163;">اضافة طلب جديد</a>
              <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">المستفيد</th>
                    <th scope="col">تبرع لأجل</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">الملبغ</th>
                    <th scope="col">الحالة</th>
                    <th scope="col">الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of requests">
                    <td>{{item?.user_id?.full_name}}</td>
                    <td>{{item?.type?.name}}</td>
                    <td>{{item.createAt | date:"dd-MM-yyyy"}}</td>
                    <td>
                      <strong>{{item.ammount}} ر.س</strong>
                    </td>
                    <td>
                      <strong *ngIf="item.status == 1" style="color: blue;">قيد المراجعة</strong>
                      <strong *ngIf="item.status == 2" style="color: green;">مقبول</strong>
                      <strong *ngIf="item.status == 3" style="color: red;">مرفوض</strong>
                      <strong *ngIf="item.status == 4" style="color: red;">ملغي</strong>
                      <strong *ngIf="item.status == 5" style="color: orange;">منتهي</strong>
                    </td>
                    <td>
                      <button *ngIf="item.status == 1" class="btn btn-primary" (click)="cancel(item._id);">الغاء</button>
                    </td>
                  </tr>
                </tbody>
                </table>
               </div>
            </div>
        </div>
 </div>
