<div class="slider-area">
  <app-other-menu></app-other-menu>
  <section class="section-padding feature-section" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">أهلا <span class="base-color">بكم</span> </h2>
                    <span class="section-sub-title wow fadeInUpXsd disinb" data-wow-duration=".9s" data-wow-delay=".1s">يمكنكم طلب المساعدة لأحد الخدمات التالية</span>
                    <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                </div>
            </div>
        </div>
        <div class="row row-eq-rs-height">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-child"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">اليتامى</a></h4>
                  <p>اليتيم أو اليتيمة ُاللذين لا عائل لهما ودخلهما ضعيف</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-home"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">الايجار</a></h4>
                  <p>من لا يملك سكنا ودخله لا يكفي سداد الإيجار</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-wheelchair"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">كبار السن ومحدودي الدخل</a></h4>
                  <p>الأرملة والمطلقة وكبار السن من ذوي الدخل الضعيف</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-cubes"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">اكمال بناء</a></h4>
                  <p>المساعدة لإكمال البناء عند العجز أو ترميم المسكن التالف بنسبة من التكاليف</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                    <div class="feature-item__icon-wrap">
                        <i class="feature-item__icon fa fa-life-ring"></i>
                    </div>
                    <h4 class="feature-item__title heading-label-four"><a href="#">الزواج</a></h4>
                    <p>اعانة المقبلين على الزواج لمن لا عائل لهم أو من هم بحاجة للدعم بنسبة من المهر</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-hospital-o"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">المريض</a></h4>
                  <p> المريض الذي لا يستطيع شراء الدواء أو التنويم في المستشفى</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-cab"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">سجين الدين</a></h4>
                  <p>دفع دبن سجين الدين</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".4s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-hourglass-start"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">المشاريع الصغيرة</a></h4>
                  <p>
                    الباحث والباحثة عن عمل بشرط تقديم فكرة مشروع تجاري مع دراسة جدوى للمشروع وتكون المساعدة بنسبة محددة من القيمة الإجمالية للمشروع، على أن يتم
                    إعادة المبلغ عند نجاح المشروع
                  </p>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="feature-item wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".6s">
                  <div class="feature-item__icon-wrap">
                      <i class="feature-item__icon fa fa-graduation-cap"></i>
                  </div>
                  <h4 class="feature-item__title heading-label-four"><a href="#">دفع الرسوم الطلابية</a></h4>
                  <p>
                     ممن لا عائل لهم و هم بحاجة للدعم في دفع الرسوم الدراسية للطلاب على ألا يتعدى القسط 10000 ريال ولفرد واحد في العائلة فقط.
                  </p>
              </div>
            </div>
        </div>
    </div>
  </section>
</div>