<footer class="fund-footer">
  <div class="main-footer all-text-white section-padding">
      <div class="container">
          <div class="row row-eq-rs-height">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="widget widget--footer widget--userfull-link">
                      <div class="widget__heading1">
                          <h4 class="widget__title1">روابط تهمك</h4>
                      </div>
                      <div class="widget__text-content">
                          <ul>
                            <li><a routerLink="/register-user">تسجيل مستفيد</a></li>
                            <li><a routerLink="/register-donator">تسجيل متبرع</a></li>
                            <li><a routerLink="/login">تسجيل الدخول</a></li>
                            <li><a routerLink="/news/news">أخبار العائلة</a></li>
                            <li><a routerLink="/news/othe">المناسبات</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="widget widget--footer widget--contact">
                      <div class="widget__heading1">
                          <h4 class="widget__title1">العنوان</h4>
                      </div>
                      <div class="widget__text-content">
                          <div class="contact-way">
                              <span class="base-bg contact-icon"><i class="fa fa-location-arrow"></i></span>
                              <span class="contact-text">المملكة العربية السعودية - الرياض</span>
                          </div>
                          <div class="contact-way">
                              <span class="base-bg contact-icon"><i class="fa fa-phone"></i></span>
                              <span class="contact-text">00966553888444</span>
                          </div>
                          <div class="contact-way">
                              <span class="base-bg contact-icon"><i class="fa fa-envelope-o"></i></span>
                              <span class="contact-text">
                                <a href="mailto:algoshayannasser@gmail.com"> algoshayannasser@gmail.com</a>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="widget widget--footer widget--userfull-link">
                    <div class="logo">
                        <a routerLink="/home" class="logo-index">
                            <img src="../../../assets/images/logo-white.png" alt="" style="width: 40%;" />
                        </a>
                    </div>
                      <!-- <div class="widget__heading1">
                          <h4 class="widget__title1">ابق على اتصال معنا</h4>
                      </div>
                      <div class="social-icons pdt5">
                          <ul class="list-inline pdl20">
                              <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                              <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                              <li><a href="#"><i class="fa fa-youtube"></i> </a> </li>
                              <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
                          </ul>
                      </div> -->
                  </div>
              </div> 
          </div>
      </div>
  </div>
  <div class="copyright-area all-text-white pdt25 pdb25">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="copyright-text text-xs-center">
                      &copy; جميع حقوق النشر محفوظة لدى  <span class="base-color"> صندوق الغشيان الخيري </span>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <ul class="footer-menu text-xs-center">
                      <li><a routerLink="/page/about">من نحن</a></li>
                      <li><a routerLink="/page/condition">الشروط والأحكام</a></li>
                      <!-- <li><a href="#">سياسة الخصوصية</a></li> -->
                      <li><a routerLink="/contact-us">اتصل بنا</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <a href="#" id="toTop" class="cd-top"><i class="fa fa-angle-up"></i></a>
</footer>